<div class="mainCover">

    <div class="sidea">
        <div class="mainTile">
            Adding employee by admin
        </div>
        <div class="description">
            The employee review system is a structured evaluation process used by organizations to assess and provide feedback on employees' performance and achievements. It involves setting clear goals, conducting regular assessments, and providing constructive feedback to enhance individual and team performance. This system fosters employee development, recognizes strengths, identifies areas for improvement, and ensures alignment with organizational objectives, ultimately promoting a more productive and engaged workforce.
        </div>
    </div>
    <div class="sideb">
        <div class="mainContainer1 ">
            <div class="formInput">
                <h1 style="text-align: center;"> E.R.S </h1>
                <form method="POST" action="/users/addEmployee">
                    <input type="Name" style="margin: 5px 0;"  name="name" placeholder="Enter name" required><br>
                    <input type="email" style="margin: 5px 0;"  name="email" placeholder="Enter email" required><br>
                    <input type="password" style="margin: 5px 0;"  name="password" placeholder="Enter password" required><br>
                    <input type="password" style="margin: 5px 0;"  name="confirmPassword" placeholder="Confirm password" required><br>

                    <div class= 'buttons'>
                        <div style="padding: 10px; text-align: center;"><button type="submit">Add Employee</button></div>
                        
                    </div>

                    
            </div>
        </div>
    </div>

</div>