<div class="ForgetCover">
    <div style="padding-top: 50px;">
        <div class="mainContainer1" style="margin: auto;">
            <div class="formInput">
                <h1> Password reset </h1>
                <form method="POST" action="/users/forgetPasswordLink" >
                    <input type="email" style="margin: 5px 0;" name="email" placeholder="Enter email" required><br>
                    <input type="password" style="margin: 5px 0;" name="password" placeholder="Enter password" required><br>
                    <input type="password" style="margin: 5px 0;" name="confirmPassword" placeholder="Confirm Password" required><br>
                    
                    <div >
                        <div style="padding: 10px; text-align: center;"><button type="submit">Reset</button></div>
                        
                    </div>

                    <div >
                        <small> Don't have account ?</small>
                        <a href="/users/sign-up"> Register User</a>
                    </div>
            </div>
        </div> 
    </div>
</div>